body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}
#popup{
    background-color: aqua;
    color: aliceblue;
    display: block;
    position: fixed;
    top: 450px;
    left:25%;
    right: 25%;
}



#clock {
    font-size: 48px;
    color: #fff;
}